<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="car-title">Gráfico 1</div>
        <app-grafica-dona [datos]="graficos.grafico1.data" [etiquetas]="graficos.grafico1.labels"></app-grafica-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="car-title">Gráfico 2</div>
        <app-grafica-dona [datos]="graficos.grafico2.data" [etiquetas]="graficos.grafico2.labels"></app-grafica-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="car-title">Gráfico 3</div>
        <app-grafica-dona [datos]="graficos.grafico3.data" [etiquetas]="graficos.grafico3.labels"></app-grafica-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="car-title">Gráfico 4</div>
        <app-grafica-dona [datos]="graficos.grafico4.data" [etiquetas]="graficos.grafico4.labels"></app-grafica-dona>
      </div>
    </div>
  </div>
</div>
