<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="formulario" #ngForm="ngForm" (ngSubmit)="iniciarSesion()" class="form-horizontal form-material"
        id="loginform">
        <div class="form-group m-t-40"
          [ngClass]="{'has-danger': erroresService.errores(formulario, 'email', ngForm).hayErrores}">
          <div class="col-xs-12">
            <input formControlName="email" name="email" class="form-control" type="email" required
              placeholder="{{'Email' | translate}}" autocomplete="off">
          </div>
          <div class="form-control-feedback" *ngIf="erroresService.errores(formulario, 'email', ngForm).hayErrores">
            <div *ngIf="erroresService.errores(formulario, 'email').errores?.required">
              {{'Required' | translate : { name: 'Email' | translate } }}</div>
            <div *ngIf="erroresService.errores(formulario, 'email').errores?.email">
              {{'Invalid' | translate : { name: 'Email' | translate } }}
            </div>
          </div>
        </div>
        <div class="form-group"
          [ngClass]="{'has-danger': erroresService.errores(formulario, 'password', ngForm).hayErrores}">
          <div class="col-xs-12">
            <input formControlName="password" name="password" class="form-control" type="password" required
              placeholder="{{'Password' | translate}}">
          </div>
          <div class="form-control-feedback" *ngIf="erroresService.errores(formulario, 'password', ngForm).hayErrores">
            <div *ngIf="erroresService.errores(formulario, 'password').errores?.required">
              {{'Required' | translate : { name: 'Password' | translate } }}</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input formControlName="recordarme" name="recordarme" id="checkbox-signup" type="checkbox"
                class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> {{'RememberMe' | translate}} </label>
            </div>
            <a routerLink="/recovery-password" id="to-recover" class="text-dark pull-right"><i
                class="fa fa-lock m-r-5"></i>{{'ForgetPassword' | translate}}</a>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
              type="submit">{{'Login' | translate}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social">
              <!-- <button type="button" id="btnFacebook" class="btn btn-facebook" data-toggle="tooltip"
                title="{{'LoginWithFacebook' | translate}}">
                <i aria-hidden="true" class="fa fa-facebook"></i>
              </button> -->
              <button type="button" id="btnGoogle" href="" class="btn btn-googleplus" data-toggle="tooltip"
                title="{{'LoginWithGoogle' | translate}}">
                <i aria-hidden="true" class="fa fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            {{'DontHaveAccount' | translate}} <a routerLink="/register"
              class="text-primary m-l-5"><b>{{'Register' | translate}}</b></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
