<div class="row">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle">{{usuario.nombre}}</h6>
        <form [formGroup]="formulario" #ngForm="ngForm" (ngSubmit)="actualizarPerfil()" class="form p-t-20">
          <div class="form-group"
            [ngClass]="{'has-danger': erroresService.errores(formulario, 'nombre', ngForm).hayErrores}">
            <label for="exampleInputName">{{'Name' | translate}}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input formControlName="nombre" name="nombre" type="text" class="form-control"
                placeholder="{{'Name' | translate}}" required autocomplete="off">
            </div>
            <div class="form-control-feedback" *ngIf="erroresService.errores(formulario, 'nombre', ngForm).hayErrores">
              <div *ngIf="erroresService.errores(formulario, 'nombre').errores?.required">
                {{'Required' | translate : { name: 'Name' | translate } }}</div>
            </div>
          </div>
          <div class="form-group"
            [ngClass]="{'has-danger': erroresService.errores(formulario, 'email', ngForm).hayErrores}">
            <label for="exampleInputEmail1">{{'Email' | translate}}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input formControlName="email" name="email" type="email" class="form-control"
                placeholder="{{'Email' | translate}}" required autocomplete="off">
            </div>
            <div class="form-control-feedback" *ngIf="erroresService.errores(formulario, 'email', ngForm).hayErrores">
              <div *ngIf="erroresService.errores(formulario, 'email').errores?.required">
                {{'Required' | translate : { name: 'Email' | translate } }}</div>
              <div *ngIf="erroresService.errores(formulario, 'email').errores?.email">
                {{'Invalid' | translate : { name: 'Email' | translate } }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> {{'Save' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h6 class="card-subtitle">{{'ChoosePhoto' | translate}}</h6>
        <form [formGroup]="uploadImageService.formularioImagen" (ngSubmit)="uploadImageService.subirImagen()"
          class="form p-t-20">
          <img *ngIf="!uploadImageService.imagenTemporal" [src]="usuarioService.usuario.img | imagen" class="w150" />
          <img *ngIf="uploadImageService.imagenTemporal" [src]="uploadImageService.imagenTemporal" class="w150" />
          <label class="btn btn-info custom-input-btn btn-imagen">
            <input name="file" formControlName="imagen" type="file" accept="image/*"
              (change)="uploadImageService.cargarImagen($event)" id="fileUpload" class="ocultar">
            <i class="fa fa-cloud-upload"></i> {{'ChooseFile' | translate}}
          </label>
          <button [disabled]="uploadImageService.sinImagenSeleccionada"
            [ngClass]="{'pointer-not-allowed': uploadImageService.sinImagenSeleccionada}" type="submit"
            class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> {{'UpdatePhoto' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
