<div class="row animated fadeIn">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{id ==='new' ? ('CreateDoctor' | translate) : ('EditDoctor' | translate)}}</h4>
        <form [formGroup]="formularioMedico" class="form p-t-20" (ngSubmit)="crearOEditarMedico()">
          <div class="form-group">
            <label for="doctorName">{{'DoctorName' | translate}}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input formControlName="nombre" type="email" class="form-control" id="doctorName"
                placeholder="{{'DoctorName' | translate}}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="">{{'Hospital' | translate}}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-plus"></i></div>
              <select (change)="cambioHospital()" formControlName="hospital" name="hospital"
                class="form-control">
                <option [ngValue]="null">{{'SelectAHospital' | translate}}</option>
                <option *ngFor="let hospital of hospitales" [ngValue]="hospital">
                  {{ hospital.nombre }}
                </option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            {{id ==='new' ? ('Save' | translate) : ('Edit' | translate)}}</button>
          <a [routerLink]="'/doctors'" class="btn btn-inverse waves-effect waves-light">{{'Cancel' | translate}}</a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body" align="center">
        <h6 class="card-subtitle">{{'Hospital' | translate}}</h6>
        <img class="rounded img-fluid" [src]="(informacionHospitalSeleccionado | async)?.img | imagen: 'hospital'"
          alt="{{'Hospital' | translate}}" />
      </div>
    </div>
  </div>
  <div class="col-lg-3 animated fadeIn" *ngIf="id !== 'new'">
    <div class="card">
      <div class="card-body" align="center">
        <h6 class="card-subtitle">{{'ChoosePhoto' | translate}}</h6>
        <form [formGroup]="uploadImageService.formularioImagen" (ngSubmit)="uploadImageService.subirImagen()"
          class="form p-t-20">
          <img class="rounded img-fluid" *ngIf="!uploadImageService.imagenTemporal" [src]="formularioMedico.value.img | imagen :'medico'"
            class="w150" />
          <img class="rounded img-fluid" *ngIf="uploadImageService.imagenTemporal"
            [src]="uploadImageService.imagenTemporal" class="w150" />
          <label class="btn btn-info custom-input-btn btn-imagen">
            <input name="file" formControlName="imagen" type="file" accept="image/*"
              (change)="uploadImageService.cargarImagen($event)" id="fileMedico" class="ocultar">
            <i class="fa fa-cloud-upload"></i> {{'ChooseFile' | translate}}
          </label>
          <button [disabled]="uploadImageService.sinImagenSeleccionada"
            [ngClass]="{'pointer-not-allowed': uploadImageService.sinImagenSeleccionada}" type="submit"
            class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> {{'UpdatePhoto' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
