<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <input #input (keyup)="buscarUsuarios(input.value)" type="text" class="form-control"
            placeholder="{{'SearchUser' | translate}}">
          <div (click)="limpiarUsuarios(input)" class="input-group-addon pointer" data-toggle="tooltip"
            title="{{'Clear' | translate}}"><i class="ti-close"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{'RegisteredUsers' | translate}} (<small>{{cantidadUsuarios}}</small>)</h3>
        <form [formGroup]="usuariosFormularioService.usuarioForm">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="w70">{{'Photo' | translate}}</th>
                  <th>{{'Email' | translate}}</th>
                  <th>{{'Name' | translate}}</th>
                  <th>{{'Role' | translate}}</th>
                  <th class="w50">{{'Auth' | translate}}</th>
                  <th class="w120">{{'Options' | translate}}</th>
                </tr>
              </thead>
              <tbody class="td-vertical-align" formArrayName="usuarios">
                <tr
                  *ngFor="let usuario of usuariosFormularioService.usuarioFormularioValue; let i=index;let l=last;trackBy: '_id' | trackBy"
                  [formGroupName]="i">
                  <td>
                    <img class="img-w50 img-circle pointer" [src]="usuario.img | imagen" data-toggle="tooltip"
                      title="{{'ChangePhoto' | translate}}"
                      (click)="uploadImageService.mostrarModal(usuario.img, 'usuario', usuario._id)" />
                  </td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.nombre}}</td>
                  <td>
                    <select formControlName="role" name="role" class="form-control">
                      <option *ngFor="let rolOption of roles" [ngValue]="rolOption.value">
                        {{ rolOption.label }}
                      </option>
                    </select>
                  </td>
                  <td style="text-align: center;">
                    <label *ngIf="usuario.google" for="" class="label label-danger">Google</label>
                    <label *ngIf="!usuario.google" for="" class="label label-info">Normal</label>
                  </td>
                  <td style="text-align: center;" class="opciones-m2">
                    <button (click)="guardarUsuario(usuario)" class="btn btn-primary">
                      <i class="fa fa-save"></i>
                    </button>
                    <button (click)="confirmarBorrarUsuario(usuario._id, usuario.nombre)" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </form>
        <button (click)="cambiarRangoUsuarios(-5)" class="btn btn-secondary" [ngClass]="{'ocultar': desde===0}">
          {{'Previous' | translate}}
        </button>
        <button (click)="cambiarRangoUsuarios(5)" class="btn btn-secondary"
          [ngClass]="{'ocultar': (desde+5) >= cantidadUsuarios}">
          {{'Next' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
